@import '../common-styles.css';

.section-container {
  padding: 14px 12px;
}

.timer-view {
  --margin-elements: 25px;
  --margin-elements-shorter: 18px;

  width: 140px;
}

.time-container {
  margin-bottom: var(--margin-elements);
  text-align: center;
}

#time {
  font-family: 'Roboto Mono', monospace;
  min-height: 23px;
  font-size: 23px;
}

.break {
  animation: runningCycle 4s infinite;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
  top: -2px;
  /* margin-bottom: calc(var(--margin-elements) + 2px); */
  margin-bottom: var(--margin-elements);
}

.control-button {
  cursor: pointer;
  border-radius: 4px;
}

.control-button img {
  display: block;
  width: 17px;
  height: 17px;
  padding: 4px;
}

#reset-all img {
  width: 18px;
  height: 18px;
  padding: 3.5px;
}

#skip {
  font-size: 14px;
  /* border-bottom: 1px dashed black; */
  position: relative;
  top: -2px;
  padding-bottom: 4px;
  cursor: pointer;
  opacity: 0.5;
}

#skip:hover {
  opacity: 1;
}

.cycles {
  min-height: 17px;
  /* margin-top: var(--margin-elements); */
  /* grid related: */
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: row;
  grid-auto-rows: 16px;
  gap: 16px;
  /* justify-content: space-evenly; */
}

.dot {
  width: 16px;
  height: 16px;
  /* border: 0.75px solid black; */
  border-radius: 50%;
  display: inline-block;
  /* grid related: */
  justify-self: center;
  /* box-shadow: 1px 1px 1px #000000; */
}

.pending {
  opacity: 0.5;
}

.running {
  animation: runningCycle 2s infinite;
  /* background-color: black; */
}

@keyframes runningCycle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.timer-complete-message {
  margin-bottom: var(--margin-elements-shorter);
  font-size: 16px;
}

.timer-complete-button {
  cursor: pointer;
  text-align: center;
  margin-top: calc(var(--margin-elements-shorter) + 2px);
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}
