@import '../common-dark.css';

.option-light {
  background-color: #f5f5f5;
  border-color: #666666;
}

.option-dark {
  background-color: #202124;
  border-color: #666666;
}

.settings-view label {
  color: #f5f5f5;
}

input[type='number'] {
  color: #f5f5f5;
  /* border: 1px solid #282828; */
  /* border-bottom: 1px solid #f5f5f5; */
  border-top-color: #282828;
  border-right-color: #282828;
  border-left-color: #282828;
  border-bottom-color: #f5f5f5;
  background-color: #808080;
}

/* Checkmark */
.checkmark {
  border-color: #f5f5f5;
}

/* On mouse-over */
.container:hover input ~ .checkmark {
  background-color: #f5f5f5;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #808080;
  border-color: #808080;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  border: solid #f5f5f5;
}
