<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="settings.css" />
    <link id="theme" rel="stylesheet" type="text/css" href="light.css" />
  </head>

  <body>
    <nav class="nav">
      <div id="menu">
        <div id="menu-icon">
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
        </div>
        <div id="navigation" class="nav-list hidden">
          <ul>
            <li id="nav-timer">timer</li>
            <li id="nav-settings">settings</li>
            <!-- <li id="nav-stats">stats</li> -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="settings-view">
      <div class="section-container section-margin">
        <h1>theme</h1>
        <div
          alt="light mode"
          title="light mode"
          class="theme-option option-light"
        ></div>
        <div
          alt="dark mode"
          title="dark mode"
          class="theme-option option-dark"
        ></div>
      </div>

      <div class="section-container section-margin">
        <h1>notifications</h1>
        <!-- <div class="option option-margin">
          <label for="notification-cycle">cycle complete</label>
          <label class="container">
            <input type="checkbox" id="notification-cycle" />
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="option option-margin">
          <label for="notification-break">break complete</label>
          <label class="container">
            <input type="checkbox" id="notification-break" />
            <span class="checkmark"></span>
          </label>
        </div> -->
        <div class="option option-margin">
          <label for="notification-sounds">notification ping</label>
          <label class="container">
            <input type="checkbox" id="notification-sound" />
            <span class="checkmark"></span>
          </label>
        </div>
        <button id="save-notification">save</button>
        <div id="status-notification" class="status"></div>
      </div>

      <div class="section-container">
        <h1>timer options</h1>
        <!-- <span class="note-span">note:</span><p class="note-p"> changes below will reset the timer</p> -->

        <div class="option option-margin">
          <label for="minutes">timer minutes</label>
          <input type="number" id="minutes" name="minutes" min="1" max="60" />
        </div>

        <div class="option option-margin">
          <label for="break">break minutes</label>
          <input type="number" id="break" name="break" min="1" max="20" />
        </div>

        <div class="option option-margin">
          <label for="cycles">total cycles</label>
          <input type="number" id="cycles" name="cycles" min="1" max="8" />
        </div>

        <div class="option option-margin">
          <label for="auto-start">cycle auto-start</label>
          <label class="container">
            <input type="checkbox" id="auto-start" />
            <span class="checkmark"></span>
          </label>
        </div>

        <button id="save-timer">save</button>
        <div id="status-timer" class="status"></div>
      </div>
    </div>
    <script src="./settings.js"></script>
    <script src="../common-navigation.js"></script>
  </body>
</html>
