@import '../common-light.css';

.option-light {
  background-color: #f5f5f5;
  border-color: #d4d4d4;
}

.option-dark {
  background-color: #202124;
  border-color: #202124;
}

.settings-view button {
  color: #f5f5f5;
  background-color: #666666;
}

.settings-view label {
  color: #666666;
}

input[type='number'] {
  color: #666666;
  border-color: #ffffff;
  background-color: #f2f2f2;
}

.status {
  color: #666666;
}

/* Checkmark */
.checkmark {
  border-color: #666666;
}

/* On mouse-over */
.container:hover input ~ .checkmark {
  background-color: #666666;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #666666;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  border: solid white;
}
