@import '../common-light.css';

.option-light {
  background-color: #f5f5f5;
  border-color: rgb(129, 65, 247);
}

.option-dark {
  background-color: #202124;
  border-color: #202124;
}

.settings-view button {
  color: #f5f5f5;
  background-color: #666666;
}

.settings-view label {
  color: #666666;
}

input[type='number'] {
  color: #666666;
  border-color: #ffffff;
  background-color: #f2f2f2;
}

.status {
  color: #666666;
}

/* Checkmark */
.checkmark {
  border-color: #666666;
}

.container:hover input ~ .checkmark {
  /* background-color: #666666; */
  /* border-color: rgb(129, 65, 247); */
}

.container input:checked ~ .checkmark {
  background-color: #666666;
  /* background-color: rgb(129, 65, 247);
  border-color: rgb(129, 65, 247); */
}

.container .checkmark:after {
  border: solid white;
}
