<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="settings.css" />
    <link id="theme" rel="stylesheet" type="text/css" href="light.css" />
  </head>

  <body>
    <nav class="nav">
      <div id="menu">
        <div id="menu-icon">
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
        </div>
        <div id="navigation" class="nav-list hidden"></div>
      </div>
    </nav>

    <div class="settings-view">
      <div class="section-container section-margin">
        <h1>Theme</h1>
        <div
          alt="Light mode toggle"
          title="Light mode"
          class="theme-option option-light"
        ></div>
        <div
          alt="Dark mode toggle"
          title="Dark mode"
          class="theme-option option-dark"
        ></div>
      </div>

      <div class="section-container section-margin">
        <h1>Notifications</h1>
        <div class="option">
          <label for="notification-sounds">Notification ping</label>
          <label class="container">
            <input type="checkbox" id="notification-sound" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="section-container">
        <h1>Timer options</h1>

        <div class="option option-margin">
          <label for="cycle-minutes">Cycle minutes</label>
          <input
            type="number"
            id="cycle-minutes"
            name="cycle-minutes"
            min="1"
            max="59"
          />
        </div>

        <div class="option option-margin">
          <label for="break-minutes">Break minutes</label>
          <input
            type="number"
            id="break-minutes"
            name="break-minutes"
            min="1"
            max="59"
          />
        </div>

        <div class="option option-margin">
          <label for="total-cycles">Total cycles</label>
          <input
            type="number"
            id="total-cycles"
            name="total-cycles"
            min="1"
            max="12"
          />
        </div>

        <div class="option">
          <label for="auto-start">Auto-start</label>
          <label class="container">
            <input type="checkbox" id="auto-start" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <script type="module" src="./settings.js"></script>
  </body>
</html>
