@import '../common-styles.css';

/* Settings View */
.settings-view {
  --margin-elements: 10px;

  font-size: 13px;
}

.theme {
  display: flex;
  flex-direction: row;
}

.theme-option {
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 5px;
}

.option-light {
  border-style: solid;
  border-width: 1px;
}

.option-dark {
  border-style: solid;
  border-width: 1px;
}

.option {
  display: grid;
  align-items: center;
  grid-template-columns: 120px 40px;
  column-gap: 15px;
}

.option-margin {
  margin-bottom: var(--margin-elements);
}

input[type='number'] {
  text-align: center;
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding: 3px;

  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']:focus {
  outline: none;
  border: 1px solid rgb(129, 65, 247);
}

.input-error-outline {
  outline: none;
  border: 1px solid red !important;
}

.input-error-outline:focus {
  outline: none;
  border: 1px solid red !important;
}

/* Checkmark */

.container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
}

/* Hide the browser's default checkbox */
.container input {
  display: block;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  display: block;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  height: 13px;
  width: 13px;
  margin: 0 auto;
}

.container input:checked ~ .checkmark {
  border-radius: 3px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 3px;
  top: 0px;
  width: 3px;
  height: 7px;
  border-radius: 1px;
  border-width: 0 3px 3px 0 !important;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
