@font-face {
  font-family: robotoMono;
  src: url(../../fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: robotoMono;
  src: url(../../fonts/RobotoMono-Bold.ttf);
  font-weight: bold;
}

body,
html {
  min-width: fit-content;
  font-family: robotoMono, monospace;
  overflow: hidden;
}

body {
  padding: 14px;
  margin: 0;
}

.hidden {
  display: none;
}

/* Nav */
.nav {
  width: 100%;
  min-height: 17px;
  margin-bottom: 11px;
}

.nav-list {
  position: relative;
}

.nav-list ul {
  margin: 0;
  padding: 0;
  z-index: 200;
  right: 0;
  position: absolute;
  list-style: none;
  color: #ffffff;
  background-color: #b3b3b3;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #00000060;
}

.nav-list ul li {
  padding: 5px 10px;
}

.nav-list ul li:hover {
  background-color: #666666;
  border-radius: 5px;
}

#menu {
  margin-right: 3px;
  float: right;
  cursor: pointer;
}

#menu-image {
  width: 17px;
  height: 17px;
}

#back {
  margin-right: 3px;
  float: right;
  cursor: pointer;
}

#back-image {
  width: 17px;
  height: 17px;
}

/* Sections */
.section-container {
  box-shadow: 1px 1px 3px #00000020;
  padding: 15px;
  border-radius: 5px;
}

.section-margin {
  margin-bottom: var(--margin-elements);
}
