@font-face {
  font-family: 'Open Sans';
  src: url(../../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(../../fonts/OpenSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(../../fonts/RobotoMono-Regular.ttf);
}

body,
html {
  min-width: fit-content;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

body {
  padding-right: 14px;
  padding-left: 14px;
  padding-bottom: 14px;
  margin: 0;
}

h1 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: calc(var(--margin-elements) - 5px);
}

.hidden {
  display: none;
}

/* Nav */
.nav {
  width: 100%;
  min-height: 19px;
  margin-top: 11px;
  margin-bottom: 11px;
}

.nav-list {
  position: relative;
}

.nav-list ul {
  position: absolute;
  list-style: none;
  text-transform: capitalize;
  margin-top: 2px;
  margin-left: 0;
  margin-right: -1px;
  margin-bottom: 0;
  padding: 0;
  z-index: 200;
  right: 0;
  border-radius: 5px;
  font-size: 12px;
  /* box-shadow: 1px 1px 3px #00000020; */
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.nav-list ul li {
  margin: 2px;
  padding: 5px 10px;
}

.nav-list ul li:hover {
  border-radius: 5px;
}

#menu {
  /* margin-right: 2px; */
  float: right;
}

#menu-icon {
  padding: 0 7px;
  min-height: 19px;
  cursor: pointer;
}

.menu-icon-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-bottom: 2px;
  display: block;
}

#navigation {
  cursor: pointer;
}

#back {
  margin-right: 3px;
  float: right;
  cursor: pointer;
}

#back-image {
  width: 17px;
  height: 17px;
}

/* Sections */
.section-container {
  /* box-shadow: 1px 1px 3px #00000020; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2); */
  padding: 15px;
  border-radius: 5px;
}

.section-margin {
  margin-bottom: var(--margin-elements);
}
