@font-face {
  font-family: 'Open Sans';
  src: url(../assets/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/OpenSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(../assets/RobotoMono-Regular.ttf);
}

body,
html {
  min-width: fit-content;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
