<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="updates.css" />
    <link id="theme" rel="stylesheet" type="text/css" href="light.css" />
  </head>

  <body>
    <nav class="nav">
      <div id="menu">
        <div id="menu-icon">
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
        </div>
        <div id="navigation" class="nav-list hidden"></div>
      </div>
    </nav>

    <div class="updates-view">
      <div class="section-container">
        <h1>Updates</h1>
        <p>
          <span class="version-text">Welcome to version </span
          ><span class="version-number">0.4</span>
        </p>
        <p>
          This release is a complete rewrite of the codebase, and it includes
          many under the hood improvements
        </p>
        <span>Release notes:</span>
        <ul>
          <li>
            Changes to minutes while the timer is running are now queued; the
            timer will not reset 🕗
          </li>
          <li>More ways to configure automatic start 🔁</li>
          <li>Option to disable notifications ⏹</li>
          <li>Bug fixes 🐞</li>
        </ul>
      </div>
    </div>
    <script type="module" src="./updates.js"></script>
  </body>
</html>
