html, body {
    font-family: "Lucida Console", Monaco, monospace;
    padding: 1vh;
}

p {
    color: gray;
    margin-bottom: 7.5vh;
}

p span {
    font-weight: bold;
}

.option {
    display: block;
    margin-bottom: 7.5vh;
}

button {
    width: max-content;
    display: inline-block;
    font-family: inherit;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: black;
    padding: 2.5px 8px;
    vertical-align: middle;
}