<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="complete.css" />
    <link id="theme" rel="stylesheet" type="text/css" href="light.css" />
  </head>

  <body>
    <nav class="nav">
      <div id="menu">
        <div id="menu-icon">
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
        </div>
        <div id="navigation" class="nav-list hidden"></div>
      </div>
    </nav>

    <div class="complete-view">
      <div class="section-container">
        <h1>timer complete 🎉</h1>
        <!-- <span class="celebratory-emoji">🎉</span> -->

        <div class="quick-stat">
          <span class="quick-stat-title">cycles:</span
          ><span class="quick-stat-value"></span>
        </div>

        <div class="quick-stat">
          <span class="quick-stat-title">total time:</span
          ><span class="quick-stat-value"></span>
        </div>

        <button class="new-timer-button">new timer</button>
      </div>
    </div>
    <script type="module" src="./complete.js"></script>
  </body>
</html>
