@import '../common-styles.css';

.complete-view {
  --margin-elements: 16px;

  min-width: 142px;
}

.quick-stat {
  margin-bottom: var(--margin-elements);
}

.new-timer-button {
  padding: 5px;
}

.new-timer-button {
  width: 100%;
  height: fit-content;
  display: inline-block;
  font-family: inherit;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
}
