<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="complete.css" />
    <link id="theme" rel="stylesheet" type="text/css" href="light.css" />
  </head>

  <body>
    <nav class="nav">
      <div id="menu">
        <div id="menu-icon">
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
        </div>
        <div id="navigation" class="nav-list hidden">
          <ul>
            <li id="nav-timer">timer</li>
            <li id="nav-settings">settings</li>
            <!-- <li id="nav-stats">stats</li> -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="updates-view">
      <div class="section-container">
        <h1>timer complete</h1>
        <span class="celebratory-emoji">🎉</span>

        <div class="quick-stat">
          <span class="quick-stat-title">cycles:</span
          ><span class="quick-stat-value"></span>
        </div>

        <div class="quick-stat">
          <span class="quick-stat-title">total time:</span
          ><span class="quick-stat-value"></span>
        </div>
      </div>
    </div>
    <script src="./complete.js"></script>
    <script src="../common-navigation.js"></script>
  </body>
</html>
