body {
  background-color: #202124;
}

h1 {
  color: #f5f5f5;
}

.section-container {
  background-color: #282828;
}

.nav-list ul {
  color: #f5f5f5;
  background-color: #3a3a3a;
}

.nav-list ul li:hover {
  background-color: #666666;
}

.menu-icon-dot {
  background-color: #f5f5f5;
}
