<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="popup.css" />
    <link id="theme" rel="stylesheet" type="text/css" href="light.css" />
  </head>

  <body>
    <div class="popup-container">
      <div class="timer-ui">
        <div class="top">
          <div id="options" alt="options icon" title="options"></div>
        </div>
        <div class="time-container">
          <!-- <div id="break-text" class="hidden">
            on break..
          </div> -->
          <div id="time"></div>
        </div>
        <div class="control">
          <img
            id="start"
            alt="start"
            title="start"
            src="../../icons/start-white-512.png"
          />
          <img
            id="pause"
            alt="pause"
            title="pause"
            class="hidden"
            src="../../icons/pause-white-512.png"
          />
          <img
            id="reset-cycle"
            alt="reset-cycle"
            title="reset cycle"
            src="../../icons/reset-cycle-white-512.png"
          />
          <img
            id="reset-all"
            alt="reset-all"
            title="reset all"
            src="../../icons/reset-all-white-512.png"
          />
          <div id="skip" class="hidden">skip break</div>
        </div>
        <div class="cycles"></div>
      </div>
      <div class="options-ui hidden">
        <div class="top">
          <div id="back" alt="back icon" title="back"></div>
        </div>

        <h1>theme</h1>
        <div class="dp1">
          <div
            alt="light mode"
            title="light mode"
            class="theme-option option-light"
          ></div>
          <div
            alt="dark mode"
            title="dark mode"
            class="theme-option option-dark"
          ></div>
        </div>

        <h1>timer options</h1>
        <div
          class="dp1"
          style="border-bottom: none; padding-bottom: 0; margin-bottom: 0;"
        >
          <p class="note-p">note: changes will reset the timer</p>
          <!-- <span class="note-span">note:</span><p class="note-p"> changes below will reset the timer</p> -->

          <div class="option">
            <label for="minutes">timer minutes</label>
            <input type="number" id="minutes" name="minutes" min="1" max="60" />
          </div>

          <div class="option">
            <label for="break">break minutes</label>
            <input type="number" id="break" name="break" min="1" max="20" />
          </div>

          <div class="option">
            <label for="cycles">total cycles</label>
            <input type="number" id="cycles" name="cycles" min="1" max="8" />
          </div>

          <div class="option">
            <label for="auto-start">cycle auto-start</label>
            <label class="container">
              <input type="checkbox" id="auto-start" />
              <span class="checkmark"></span>
            </label>
          </div>

          <button id="save">save</button>
          <div id="status"></div>
        </div>
      </div>
      <div class="updates-ui hidden">
        <div class="top">
          <div id="back" alt="back icon" title="back"></div>
        </div>

        <h1>updates</h1>
        <div class="dp1">
          <p><span class="version-text">welcome to </span><span class="version-number">0.1</span></p>
        <!-- <span class="note-span">hey!</span> <p class="note-p">welcome to version <b>0.0.9</b></p> -->
        <p>these brief notes will appear once for every update</p>
        <span>release notes</span>
        <ul>
          <li>new updates page!</li>
          <li>slightly new icon</li>
          <li>bug fixes</li>
        </ul>
      </div>
      <h1>upcoming features</h1>
      <div
        class="dp1"
        style="border-bottom: none; padding-bottom: 0; margin-bottom: 0;"
      >
      <p>take a peek at what's in store for the next release:</p>
      <ul><li><a target="_blank" href="https://github.com/diegoserranor/productive-cycles/projects/2?fullscreen=true">project board</a></li></ul>
    </div>
    </div>
    <script src="../../js/popup.js"></script>
  </body>
</html>
