.control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
  top: -2px;
  margin-bottom: 25px;
}

.control-button {
  cursor: pointer;
  border-radius: 4px;
}

.control-button img {
  display: block;
  width: 17px;
  height: 17px;
  padding: 4px;
}

#start {
  background-color: #666666;
}

#pause,
#reset-cycle,
#reset-all {
  background-color: #b3b3b3;
}

#skip {
  color: #666666;
  border-bottom: 1px dashed #666666;
}

#reset-all img {
  width: 18px;
  height: 18px;
  padding: 3.5px;
}

#skip {
  font-size: 14px;
  position: relative;
  top: -2px;
  padding-bottom: 4px;
  cursor: pointer;
  opacity: 0.5;
}

#skip:hover {
  opacity: 1;
}
