@import '../common-light.css';

.complete-text {
  color: #666666;
}

.break {
  color: gray;
}

#break-text {
  color: gray;
}

#start {
  background-color: #666666;
}

#pause,
#reset-cycle,
#reset-all {
  background-color: #b3b3b3;
}

#skip {
  color: #666666;
  border-bottom: 1px dashed #666666;
}

.dot {
  background-color: #b3b3b3;
}

.complete {
  background-color: #666666;
}

.running {
  background-color: #666666;
}

.timer-complete-message {
  color: #666666;
}

.timer-complete-button {
  background-color: #666666;
  color: #f5f5f5;
}
