<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="timer.css" />
    <link id="theme" rel="stylesheet" type="text/css" href="light.css" />
  </head>

  <body>
    <nav class="nav">
      <div id="menu">
        <div id="menu-icon">
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
        </div>
        <div id="navigation" class="nav-list hidden"></div>
      </div>
    </nav>

    <div class="timer-view">
      <div class="section-container">
        <div class="time-container">
          <div id="time"></div>
        </div>
        <div class="control">
          <div id="start" class="control-button">
            <img
              alt="start button"
              title="start"
              src="../../icons/control-start.svg"
            />
          </div>

          <div id="pause" class="control-button hidden">
            <img
              alt="pause button"
              title="pause"
              src="../../icons/control-pause.svg"
            />
          </div>

          <div id="reset-cycle" class="control-button">
            <img
              alt="reset cycle button"
              title="reset cycle"
              src="../../icons/control-reset-cycle.svg"
            />
          </div>

          <div id="reset-all" class="control-button">
            <img
              alt="reset all button"
              title="reset all"
              src="../../icons/control-reset-all.svg"
            />
          </div>

          <div id="skip" class="hidden">skip break</div>
        </div>
        <div class="timer-complete-message hidden">
          Timer complete&nbsp;&nbsp;🎉
        </div>
        <div class="cycles"></div>
        <div class="timer-complete-button hidden">New timer</div>
      </div>
    </div>
    <script type="module" src="./timer.js"></script>
  </body>
</html>
