/* Timer */
.timer-view {
  --margin-elements: 25px;

  min-width: 142px;
}

.time-container {
  margin-bottom: var(--margin-elements);
  text-align: center;
}

#time {
  min-height: 23px;
  font-size: 23px;
}

.complete-text {
  font-size: 20px !important;
}

.break {
  animation: runningCycle 4s infinite;
}

.control {
  width: 100%;
  /* border-bottom: 2px dotted gray; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: -2px;
  margin-bottom: calc(var(--margin-elements) + 2px);
}

.control-button {
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #00000075;
}

.control-button img {
  width: 15px;
  height: 15px;
  padding: 5px;
  vertical-align: middle;
}

#reset-all img {
  transform: scaleX(-1);
}

#skip {
  font-size: 14px;
  /* border-bottom: 1px dashed black; */
  position: relative;
  top: -2px;
  padding-bottom: 4px;
  cursor: pointer;
  opacity: 0.5;
}

#skip:hover {
  opacity: 1;
}

.cycles {
  min-height: 17px;
  /* margin-top: var(--margin-elements); */
  /* grid related: */
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: row;
  grid-auto-rows: 16px;
  gap: 16px;
  /* justify-content: space-evenly; */
}

.dot {
  width: 16px;
  height: 16px;
  /* border: 0.75px solid black; */
  border-radius: 50%;
  display: inline-block;
  /* grid related: */
  justify-self: center;
  box-shadow: 1px 1px 1px #000000;
}

.pending {
  opacity: 0.5;
}

.running {
  animation: runningCycle 2s infinite;
  /* background-color: black; */
}

@keyframes runningCycle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
