@import '../common-styles.css';

.stats-view {
  --margin-elements: 16px;

  width: 175px;
  font-size: 12px;
}

.stats-view h1 {
  font-size: 14px;
  font-weight: bold;
}

.stat {
  display: grid;
  grid-template-columns: 65% 30%;
  gap: 5%;
  align-items: center;
}

.stat-margin {
  margin-bottom: var(--margin-elements);
}

.stat-title {
  display: inline-block;
}

.stat-container {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
}
