<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="stats.css" />
    <link id="theme" rel="stylesheet" type="text/css" href="light.css" />
  </head>

  <body>
    <nav class="nav">
      <div id="menu">
        <div id="menu-icon">
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
        </div>
        <div id="navigation" class="nav-list hidden">
          <ul>
            <li id="nav-timer">timer</li>
            <li id="nav-settings">settings</li>
            <li id="nav-stats">stats</li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="stats-view">
      <div class="section-container section-margin">
        <h1>recent progress</h1>
        <!-- <p>
            <span class="version-text">welcome to version </span
            ><span class="version-number">0.2</span>
          </p> -->
      </div>
      <div class="section-container">
        <h1>all time</h1>

        <div class="stat stat-margin">
          <span class="stat-title">cycle count</span>
          <div class="stat-container">
            <span id="stats-cycle-count" class="stat-value"></span>
          </div>
        </div>

        <div class="stat">
          <span class="stat-title">timer count</span>
          <div class="stat-container">
            <span id="stats-timer-count" class="stat-value"></span>
          </div>
        </div>
      </div>
    </div>
    <script src="./stats.js"></script>
    <script src="../common-navigation.js"></script>
  </body>
</html>
