<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="stats.css" />
    <link id="theme" rel="stylesheet" type="text/css" href="light.css" />
  </head>

  <body>
    <nav class="nav">
      <div id="menu">
        <div id="menu-icon">
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
        </div>
        <div id="navigation" class="nav-list hidden"></div>
      </div>
    </nav>

    <div class="stats-view">
      <div class="section-container">
        <h1>recent progress</h1>

        <div class="stat stat-margin">
          <span class="stat-title">this week</span>
          <div class="stat-container">
            <span id="stats-cycle-count" class="stat-value"></span>
          </div>
        </div>

        <div class="stat stat-margin">
          <span class="stat-title">this month</span>
          <div class="stat-container">
            <span id="stats-timer-count" class="stat-value"></span>
          </div>
        </div>

        <div class="stat">
          <span class="stat-title">this year</span>
          <div class="stat-container">
            <span id="stats-timer-count" class="stat-value"></span>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="./stats.js"></script>
  </body>
</html>
