body {
  background-color: #202124;
}

.section-container {
  background-color: #282828;
}

h1 {
  color: #f5f5f5;
}

.updates-view p {
  color: #f5f5f5;
}

.updates-view span {
  color: #f5f5f5;
}

.updates-view ul {
  color: #f5f5f5;
}
