body {
  background-color: #eeeeee;
}

.section-container {
  background-color: white;
}

h1 {
  color: #666666;
}

.updates-view p {
  color: #666666;
}

.updates-view span {
  color: #666666;
}

.updates-view ul {
  color: #666666;
}
