<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="updates.css" />
    <link id="theme" rel="stylesheet" type="text/css" href="light.css" />
  </head>

  <body>
    <nav class="nav">
      <div id="menu">
        <div id="menu-icon">
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
          <div class="menu-icon-dot"></div>
        </div>
        <div id="navigation" class="nav-list hidden"></div>
      </div>
    </nav>

    <div class="updates-view">
      <div class="section-container">
        <h1>Updates</h1>
        <p>
          <span class="version-text">Welcome to version </span
          ><span class="version-number">0.3</span>
        </p>
        <!-- <span class="note-span">hey!</span> <p class="note-p">welcome to version <b>0.0.9</b></p> -->
        <!-- <p>these brief notes will appear once for every update</p> -->
        <span>Release notes:</span>
        <ul>
          <li>New codebase 🧑‍💻</li>
          <li>Fixed an issue related to idle states 🔧</li>
        </ul>
      </div>

      <!-- <div class="section-container">
        <h1>upcoming features</h1>
        <p>sneak peek:</p>
        <ul></ul>
      </div> -->
    </div>
    <script type="module" src="./updates.js"></script>
  </body>
</html>
