<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="updates.css" />
    <link id="theme" rel="stylesheet" type="text/css" href="light.css" />
  </head>

  <body>
    <div class="updates-view">
      <nav class="nav">
        <div id="back">
          <img
            id="back-image"
            alt="back icon"
            title="options"
            src="../../icons/nav-back.png"
          />
        </div>
      </nav>

      <div class="section-container section-margin">
        <h1>updates</h1>
        <p>
          <span class="version-text">welcome to version </span
          ><span class="version-number">0.1</span>
        </p>
        <!-- <span class="note-span">hey!</span> <p class="note-p">welcome to version <b>0.0.9</b></p> -->
        <!-- <p>these brief notes will appear once for every update</p> -->
        <span>release notes</span>
        <ul>
          <li>new icon! 🕗</li>
          <li>new user interface 🎨</li>
          <li>notification ping 🔉</li>
          <li>bug fixes 🐞</li>
        </ul>
      </div>

      <div class="section-container">
        <h1>upcoming features</h1>
        <p>sneak peek:</p>
        <ul>
          <li>spanish translation</li>
          <li>usage statistics</li>
        </ul>
      </div>
    </div>
    <script src="./updates.js"></script>
  </body>
</html>
