/* Updates UI */
.updates-view {
  --margin-elements: 16px;

  width: 225px;
  font-size: 12px;
}

.updates-view h1 {
  font-size: 14px;
  font-weight: bold;
}

.updates-view ul {
  padding-left: 10px;
  list-style-position: inside;
}
