body, html {
    min-width: 80px;
    font-family: "Lucida Console", Monaco, monospace;
}

.popup-container {
    --margin-elements: 7.5vh;

    padding: 2px;
}

#time {
    /*
    experimental:
        min-height = font-size is used to add height
        before timer.js fills the value in #timer
    */
    min-height: 1.25em; 
    margin-bottom: var(--margin-elements);
    text-align: center;
    font-size: 1.25em;
}

.hidden {
    display: none;
}

.control {
    width: 100%;
    padding-bottom: var(--margin-elements);
    border-bottom: 2px dotted gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.control img {
    max-width: 12.5px;
    padding: 3.5px;
    border-radius: 3px;
    cursor: pointer;
}

#start {
    background-color: black;
}

#pause, #reset-cycle, #reset-all {
    background-color: gray;
}

.cycles {
        /*
    experimental:
        min-height = font-size is used to add height
        before timer.js fills the value in #timer
    */
    min-height: 11.5vw;
    margin-top: var(--margin-elements);;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10vw;
    /* padding: 10px; */
}

.dot {
    width: 11.5vw;
    height: 11.5vw;
    /* margin-right: 2.5vw; */
    /* width: 12.5px; */
    border: 0.75px solid black;
    border-radius: 100%;
    display: inline-block;
}

.complete {
    background-color: black;
}

.pending {
    opacity: 0.4;
}

.running {
    animation: runningCycle 2s infinite;
    background-color: black;
}

@keyframes runningCycle {
    0% { opacity: 1; }
    25% { opacity: 0.6; }
    50% { opacity: 0.3; }
    75% { opacity: 0.6; }
    100% { opacity: 1; }
}