body {
    background-color: #202124;
}

#time {
    color: #F5F5F5;
}

.complete-text {
    color: #F5F5F5;
  }

.break {
    color: gray;

}

#break-text {
    color: gray;
  }

  #start {
    background-color: #808080;
  }
  
  #pause,
  #reset-cycle,
  #reset-all {
    background-color: #808080;
  }

  #skip {
    border-bottom: 1px dashed #F5F5F5;
  }

  .dot {
    border: 0.75px solid #F5F5F5;
  }

  .complete {
    background-color: #F5F5F5;
  }

  .running {
    background-color: #F5F5F5;
  }

    /* Options UI */
h1 {
    color: #F5F5F5;  }

  button {
    color: #f5f5f5;
    background-color: #808080;
  }

  label {
    color: #f5f5f5;
  }

  input[type="number"] {
      color: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    background-color: #808080;
  }

  p {
    color: #808080;
  }

  /* Checkmark (from w3schoools) */
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    margin-top: 5px;
    /* padding-left: 35px;
    margin-bottom: 12px; */
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    /* background-color: #808080;
    border-bottom: 1px solid #808080; */
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #808080;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #808080;
    border-bottom: 1px solid #808080;
    /* background-color: #f5f5f5;
    border-bottom: 1px solid #f5f5f5; */
    border-radius: 2px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid #F5F5F5;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  